$primary-color: #6C63FF;
$btn-hover-color: #33313f;
$btn-color: #3e3d56;
$color-white: white;
$bg-color: #bdbaf8;
$error-color: red;
$primary-font: 'Nunito Sans';

$theme-colors: (
  "primary": #6C63FF
);


html {
  overflow-y: scroll; 
}


body {
	margin: 0;
	padding-top: 40px;
	color: #2e323c;
	background: $primary-color;
	position: relative;
	height: 100%;
    font-family: $primary-font;
}

.hello-text {
    color: $color-white;
    text-align: center;
    font-weight: bold;
}

.main-form{
	.error {
		color: $error-color;
	}
}

.form-control {
	border: 1px solid #cfd1d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: .825rem;
	background: #ffffff;
	color: #2e323c;
}
.card {
	background: $color-white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	margin-bottom: 1rem;
}

